section.s-advantages.s-bg-white
	.container
		.advantages
			.advantage
				.advantage__aside
					img(src="images/general/warrantly.svg").advantage__icon.advantage__icon--warrantly
				.advantage__body
					span.advantage__title 30 дневная гарантия возврата денег
					p.advantage__text Поэтому вы можете делать покупки с уверенностью
					a(href="").advantage__link Узнать о гарантии
			.advantage
				.advantage__aside
					img(src="images/general/support.svg").advantage__icon.advantage__icon--support
				.advantage__body
					span.advantage__title Специалисты по товарам на связи
					p.advantage__text Мы ответим на любые вопросы о товарах в течении 10 минут
					a(href="#popup-consultation").advantage__link.js-popup-link Получить консультацию
			.advantage
				.advantage__aside
					img(src="images/general/sample.svg").advantage__icon.advantage__icon--sample
				.advantage__body
					span.advantage__title Бесплатные образцы
					p.advantage__text Некоторые товары вы можете изучить внимательнее перед покупкой
					