section.s-product-prev-line.s-bg-white
	.container
		.section-header
			h2.title-section Товары со скидкой
			.section-header__right
				a(href="").section-header__link Все товары со скидкой
				span.count-text 123
		.products-prev-line
			include ../../modules/product/prev1
			include ../../modules/product/prev2
			include ../../modules/product/prev3
			include ../../modules/product/prev1
		.section-mobile-footer
			a(href="").section-mobile-footer__link Все товары со скидкой
				span.count-text 123