section.s-product-slider.s-bg-white
	.container
		.section-header
			h2.title-section Вы смотрели
			.section-header__right
				span.product-slider__count
		.products-prev-slider
			.slider-navigation
				.slider-nav.slider-nav--prev.products-prev-slider__nav-prev
					+icon('chevron-left', 'slider-nav__icon' )
				.slider-nav.slider-nav--next.products-prev-slider__nav-next
					+icon('chevron-right', 'slider-nav__icon' )
			.js-product-slider
				include ../../modules/product/prev1
				include ../../modules/product/prev2
				include ../../modules/product/prev3
				include ../../modules/product/prev1
				include ../../modules/product/prev2
				include ../../modules/product/prev3
				include ../../modules/product/prev1
				include ../../modules/product/prev2
				
				
		