.basket-prev{
	color: $white;
	display: flex;
	flex-direction: column;
	position: relative;
	&__icon{
		@include size(25px);
		fill: $white;
		margin-bottom: 7px;
		@media screen and(max-width: $tablet-size) {
			margin-bottom: 0;
		}
	}
	&__title{
		font-family: $bold-font;
		line-height: 20px;
		margin-bottom: 2px;
		@media screen and(max-width: $tablet-size) {
			display: none;
		}
	}
	&__count{
		font-size: 14px;
		line-height: 18px;
		@media screen and(max-width: $tablet-size) {
			display: none;
		}
	}
	&__number{
		@include size(24px);
		background-color: $main-action-color;
		border-radius: 50%;
		color: $base-text-color;
		display: none;
		font-size: 12px;
		line-height: 23px;
		text-align: center;
		position: absolute;
		right: -12px;
		top: -12px;
		@media screen and(max-width: $tablet-size) {
			display: block;
		}
		@media screen and(max-width: $phone-size) {
			@include size(16px);
			font-size: 10px;
			line-height: 16px;
			top: -8px;
			right: -8px;
		}
	}
}