.category-prev
	.category-prev__img(style="background-image: url(images/content/categories/category-prev-1.jpg)")
	.category-prev__body
		.category-prev__title
			span.category-prev__title-text Водосточные системы
			span.count-text 1234
		ul.category-prev__list
			li.category-prev__item
				a(href="").category-prev__link Комплекты водосточных систем
				span.count-text 23
			li.category-prev__item
				a(href="").category-prev__link Водосточные трубы
				span.count-text 98
			li.category-prev__item
				a(href="").category-prev__link 	Желоб водосточный
				span.count-text 98
			li.category-prev__item
				a(href="").category-prev__link Воронка желоба выпускная
				span.count-text 98
			li.category-prev__item
				a(href="").category-prev__link 	Все водосточные системы
				span.count-text 7