mixin footerNavLink(link,text,descr)
	li.footer-nav__item
		a(href=link).footer-nav__link=text
		if(descr)
			span.footer-nav__descr=descr

footer.footer
	.footer-top
		.container
			.footer-callback
				img(src="images/general/wiki.svg").footer-callback__icon
				.order-callback.footer-callback__order-callback
					span.order-callback__description Звоните круглосуточно
					a(href="tel: +74993348888").order-callback__phone +7 499 334-88-88
					a(href="").order-callback__link Заказать звонок
			.footer-main
				.footer-nav
					.footer__col
						span.footer__title О нас
						ul.footer-nav__list
							+footerNavLink('','Оплата и доставка','')
							+footerNavLink('','Гарантия','')
							+footerNavLink('','Услуги по обработке металла','')
							+footerNavLink('','Компания','')
							+footerNavLink('','Контакты','связь с директором')
					.footer__col
						span.footer__title Каталог
						ul.footer-nav__list
							+footerNavLink('','Все для кровли','')
							+footerNavLink('','Фасад','')
							+footerNavLink('','Профнастил','')
							+footerNavLink('','Листовой прокат','')
							+footerNavLink('','Рулонная сталь','')
				.footer__col
					.footer__block
						span.footer__title Принимаем к оплате
						.payment-types
							ul.payment-types__list
								li.payment-types__item
									+icon('visa', 'payment-types__logo')
								li.payment-types__item
									+icon('mscard', 'payment-types__logo')
								li.payment-types__item
									+icon('visa', 'payment-types__logo')
						a(href="").payment-types__online Оплата заказа онлайн
					.footer__block
						span Акции и спецпредложения
				.footer__col
					.footer__block
						span.footer__title Контакты
						.footer-contacts
							+icon('map', 'footer-contacts__icon')
							span.footer-contacts__title Офис
							p.footer-contacts__text 112033, Москва, ул.Золоторожский вал, д.14, стр. 11
								a(href="").footer-contacts__link на карте
					.footer__block
						.footer-contacts
							+icon('map', 'footer-contacts__icon')
							span.footer-contacts__title Производство и склад
							p.footer-contacts__text 112033, Москва, ул.Золоторожский вал, д.14, стр. 11
								a(href="").footer-contacts__link на карте
	.footer-bottom
		.container
			.footer-bottom__line
				span.copyright © 2018 Завод «Венёвский»
				a(href="").footer-bottom__link Политика конфиденциальности
				a(href="").footer-bottom__link Карта сайта
			.footer-bottom__line
				p.footer-bottom__text Сайт venevs.ru носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой ГК РФ. Для получения подробной информации о наличии, видах, хаарктеристиках и стоимости материалов, пожалуйста, обращайтесь в офисы продаж.
